# Assignment 1

Logistic Regression on Bank Personal Loan

In [238]:
import pandas as pd
import numpy as np

In [239]:
dataset=pd.read_excel('Bank_Personal_Loan_Modelling.xlsx',sheet_name='Data')

In [240]:
dataset.drop(columns='ID')
dataset.drop(columns='ZIP Code')

,ID,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,4,1.0,2,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,4996,29,3,40,1,1.9,3,0,0,0,0,1,0
4996,4997,30,4,15,4,0.4,1,85,0,0,0,1,0
4997,4998,63,39,24,2,0.3,3,0,0,0,0,0,0
4998,4999,65,40,49,3,0.5,2,0,0,0,0,1,0
4999,5000,28,4,83,3,0.8,1,0,0,0,0,1,1

In [241]:
y=dataset['Personal Loan']

In [242]:
x=dataset[['Age','Experience','Income','Family','CCAvg','Education','Mortgage','Securities Account','CD Account','Online',
           'CreditCard']]

In [243]:
import statsmodels.api as sm

In [244]:
x1=sm.add_constant(x)

In [245]:
Logistic=sm.Logit(y,x1)

In [246]:
result=Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [247]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        21:48:01   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

1.The p value for Income,Family,Education,CD Account,Online,CreditCard is equal to 0 so they are more significant and 
loan approval can be santioned for these variables.
2.The p value for CCAverage,Securities Account is also a bit near to 0,hence after above variables these variable 
significant and loan approval can be santioned for these variables.
3.The p value for Age,Experience,Mortgage are not near to 0 hence they are not significant for loan approval.

# Assignment 2

Logistic Regression on Attrition Project

In [248]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [249]:
dataset=pd.read_csv('general_data (1).csv')

In [250]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,No,Travel_Rarely,Research & Development,5,4,Medical,1,4406,Female,...,3.0,Y,17,8,1,10.0,5,3,0,2
4406,29,No,Travel_Rarely,Research & Development,2,4,Medical,1,4407,Male,...,2.0,Y,15,8,0,10.0,2,3,0,2
4407,25,No,Travel_Rarely,Research & Development,25,2,Life Sciences,1,4408,Male,...,0.0,Y,20,8,0,5.0,4,4,1,2
4408,42,No,Travel_Rarely,Sales,18,2,Medical,1,4409,Male,...,0.0,Y,14,8,1,10.0,2,9,7,8
4409,40,No,Travel_Rarely,Research & Development,28,3,Medical,1,4410,Male,...,0.0,Y,12,8,0,NaN,6,21,3,9

In [251]:
drop=['EmployeeCount','EmployeeID','Over18','StandardHours']

In [252]:
dataset.drop(drop,inplace=True,axis=1)

The variables Attrition,BusinessTravel,Department,EducationField,Gender,JobRole,MaritalStatus are categorical so we will convert it into numerical by using Label Encoder.

In [253]:
lab_encoder=LabelEncoder()

In [254]:
dataset.Attrition=lab_encoder.fit_transform(dataset.Attrition)

In [255]:
dataset.BusinessTravel=lab_encoder.fit_transform(dataset.BusinessTravel)

In [256]:
dataset.Department=lab_encoder.fit_transform(dataset.Department)

In [257]:
dataset.EducationField=lab_encoder.fit_transform(dataset.EducationField)

In [258]:
dataset.Gender=lab_encoder.fit_transform(dataset.Gender)

In [259]:
dataset.JobRole=lab_encoder.fit_transform(dataset.JobRole)

In [260]:
dataset.MaritalStatus=lab_encoder.fit_transform(dataset.MaritalStatus)

In [261]:
dataset

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,Gender,JobLevel,JobRole,MaritalStatus,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,0,2,2,6,2,1,0,1,0,1,131160,1.0,11,0,1.0,6,1,0,0
1,31,1,1,1,10,1,1,0,1,6,2,41890,0.0,23,1,6.0,3,5,1,4
2,32,0,1,1,17,4,4,1,4,7,1,193280,1.0,15,3,5.0,2,5,0,3
3,38,0,0,1,2,5,1,1,3,1,1,83210,3.0,11,3,13.0,5,8,7,5
4,32,0,2,1,10,1,3,1,1,7,2,23420,4.0,12,2,9.0,2,6,0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4405,42,0,2,1,5,4,3,0,1,6,2,60290,3.0,17,1,10.0,5,3,0,2
4406,29,0,2,1,2,4,3,1,1,2,0,26790,2.0,15,0,10.0,2,3,0,2
4407,25,0,2,1,25,2,1,1,2,7,1,37020,0.0,20,0,5.0,4,4,1,2
4408,42,0,2,2,18,2,3,1,1,2,0,23980,0.0,14,1,10.0,2,9,7,8
4409,40,0,2,1,28,3,3,1,2,2,0,54680,0.0,12,0,NaN,6,21,3,9

In [262]:
y=dataset['Attrition']

In [263]:
x=dataset[['Age','BusinessTravel','Department','DistanceFromHome','Education','EducationField','Gender','JobRole',
           'MaritalStatus','NumCompaniesWorked','PercentSalaryHike','StockOptionLevel','TotalWorkingYears',
          'TrainingTimesLastYear','YearsAtCompany','YearsSinceLastPromotion','YearsWithCurrManager']]

In [264]:
import statsmodels.api as sm

In [265]:
x1=sm.add_constant(x)

In [266]:
# I couldnt find why it is showing error at this step and all other steps are correct
Logistic=sm.Logit(y,x1)

MissingDataError: exog contains inf or nans

In [267]:
result=Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128435
         Iterations 9

In [268]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 5000
Model:                          Logit   Df Residuals:                     4988
Method:                           MLE   Df Model:                           11
Date:                Sat, 08 Aug 2020   Pseudo R-squ.:                  0.5938
Time:                        21:48:15   Log-Likelihood:                -642.18
converged:                       True   LL-Null:                       -1581.0
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1928      1.645     -7.411      0.000     -15.417      -8.968
Age                   -0.0536      0.061     -0.874      0.382      -0.174       0.067
Experience             0.0638      0.061      1.046      0.295      -0.056       0.183
Income                 0.0546      0.003     20.831      0.000       0.049       0.060
Family                 0.6958      0.074      9.364      0.000       0.550       0.841
CCAvg                  0.1240      0.040      3.127      0.002       0.046       0.202
Education              1.7362      0.115     15.088      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.856      0.392      -0.001       0.002
Securities Account    -0.9368      0.286     -3.277      0.001      -1.497      -0.377
CD Account             3.8225      0.324     11.800      0.000       3.188       4.457
Online                -0.6752      0.157     -4.298      0.000      -0.983      -0.367
CreditCard            -1.1197      0.205     -5.462      0.000      -1.522      -0.718
======================================================================================
"""

1.The p value for Age,MaritalStatus,NumCompaniesWorked,TotalWorkingYears,TrainingTimesLastYear,YearsSinceLastPromotion,
YearsWithCurrManage is equal to 0 so they are more significant.
2.The P value for Department,EducationField,JobRole is also a bit near to 0,hence after above variables these variables are
significant.
3.The p value fro BusinessTravel,DistanceFromHome,Gender,PercentSalaryHike,StockOptionLevel,YearsAtompany not near to 0
hence they are not significant.

# Assignment 3

Linear Regression on Real Estate Analysis

In [269]:
import pandas as pd
import numpy as np

In [270]:
dataset=pd.read_excel('Linear Regression.xlsx',sheet_name=0)

In [271]:
dataset

        price  sqft_living  bedrooms  bathrooms  floors
0      221900         1180         3       1.00     1.0
1      538000         2570         3       2.25     2.0
2      180000          770         2       1.00     1.0
3      604000         1960         4       3.00     1.0
4      510000         1680         3       2.00     1.0
...       ...          ...       ...        ...     ...
21608  360000         1530         3       2.50     3.0
21609  400000         2310         4       2.50     2.0
21610  402101         1020         2       0.75     2.0
21611  400000         1600         3       2.50     2.0
21612  325000         1020         2       0.75     2.0

[21613 rows x 5 columns]

In [272]:
y=dataset['price']

In [273]:
x=dataset[['sqft_living','bedrooms','bathrooms','floors']]

In [274]:
from sklearn.model_selection import train_test_split

In [275]:
x_test,x_train,y_test,y_train=train_test_split(x,y,random_state=True,train_size=0.1)

In [276]:
from sklearn.linear_model import LinearRegression

In [277]:
mul_reg=LinearRegression()

In [278]:
mul_reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [279]:
y_pred=mul_reg.predict(x_test)

In [280]:
from sklearn.metrics import r2_score,mean_squared_error

In [281]:
r2=r2_score(y_test,y_pred)

In [282]:
RMSE=np.sqrt(mean_squared_error(y_test,y_pred))

In [283]:
r2

0.49570519379756783

In [284]:
RMSE

270287.2980024756

r^2 value is 0.4957~0.5 which is moderate
RMSE 2702287 is high, it is not precise